body {
  position: absolute;
  width: 1440px;
  height: 916px;
  background: #fff;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  color: #6070ff;
  margin-left: 120px;
  margin-top: 40px;
}

.details {
  display: flex;
  margin-left: 900px;
  margin-top: -55px;
  text-indent: 80px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #344563;
}

.about {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  margin-left: 230px;
  margin-top: 10px;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-left: 230px;
  margin-top: 0px;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 230px;
  color: #7f8cff;
}

.social-img {
  margin-left: 230px;
  /* justify-content: space-between; */
  /* display: inline-block; */
}

.rect-6 {
  margin-left: 40px;
}

.eclip-12 {
  margin-left: -45px;
  transform: rotate(18.88deg);
  width: 80.48px;
  height: 40.24px;
}

.pic {
  align-items: center;
  margin-left: 500px;
  margin-top: -50px;
}

.rect-7 {
  width: 56.01px;
  height: 10.02px;
  margin-left: 150px;
  margin-bottom: -15px;
  background: #6070ff;
  transform: matrix(0.98, -0.21, -0.21, -0.98, 0, 0);
}

#eclip-5 {
  width: 23px;
  height: 23px;
  margin-left: -30px;
  margin-bottom: -35px;
}

.pict {
  margin-left: 1000px;
}

.rect-4 {
  margin-bottom: 140px;
  margin-right: -140px;
}

.picture {
  margin-left: 150px;
  margin-top: 50px;
}

.elip-4 {
  margin-bottom: -38px;
  margin-left: -50px;
}

.pictures {
  margin-left: 700px;
  margin-top: -30px;
}

#eclip-4 {
  width: 47px;
  height: 47px;
  margin-left: -60px;
  margin-bottom: 40px;
}

rect-5 {
  margin-right: 650px;
}
