body {
  position: absolute;
  width: 1440px;
  height: 916px;
  background: #fff;
  overflow-x: hidden;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  color: #6070ff;
  margin-left: 120px;
  margin-top: 40px;
}

.details {
  display: flex;
  margin-left: 900px;
  margin-top: -55px;
  text-indent: 80px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #344563;
}

.about {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  margin-left: 230px;
  margin-top: 10px;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-left: 230px;
  margin-top: -60px;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 230px;
  color: #7f8cff;
}

.social-img {
  margin-left: 230px;
}

.rect-6 {
  margin-left: 40px;
}

.eclip-12 {
  margin-left: -45px;
  transform: rotate(18.88deg);
  width: 80.48px;
  height: 40.24px;
}

.pic {
  align-items: center;
  margin-left: 500px;
  margin-top: -50px;
}

.rect-7 {
  width: 56.01px;
  height: 10.02px;
  margin-left: 150px;
  margin-bottom: -15px;
  background: #6070ff;
  transform: matrix(0.98, -0.21, -0.21, -0.98, 0, 0);
}

#eclip-5 {
  width: 23px;
  height: 23px;
  margin-left: -30px;
  margin-bottom: -35px;
}

.pict {
  margin-left: 1000px;
}

.rect-4 {
  margin-bottom: 140px;
  margin-right: -140px;
}

.picture {
  margin-left: 150px;
  margin-top: 50px;
}

.elip-4 {
  margin-bottom: -38px;
  margin-left: -50px;
}

.pictures {
  margin-left: 700px;
  margin-top: -30px;
}

#eclip-4 {
  width: 47px;
  height: 47px;
  margin-left: 90px;
  margin-bottom: -50px;
}

.rect-5 {
  margin-right: 650px;
}

.snap {
  width: 500px;
  height: 420px;
  margin-left: 250px;
  margin-top: 50px;
}

.fac {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-left: 950px;
  margin-top: -400px;
  color: #091e42;
}

.face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #344563;
}

.lis {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  color: #6b778c;
}

.book {
  list-style: none;
}

.port {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #6b778c;
}

.skills {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  display: flex;
  text-indent: 30px;
  margin-left: -30px;
  list-style: none;
  text-align: center;
}

.but {
  border-radius: 10px;
  width: 124px;
  height: 48px;
  background: #4053fc;
  position: absolute;
  margin-top: 40px;
}

.portfolio {
  margin-left: 40px;
  margin-top: 150px;
}

.folio {
  margin-left: 950px;
}

.butt {
  color: #396df2;
  border-radius: 10px;
  width: 124px;
  height: 48px;
  margin-top: 40px;
}

.snapp {
  width: 500px;
  height: 420px;
  margin-left: 890px;
  margin-top: -550px;
}

.fa {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-left: 300px;
  margin-top: 250px;
  color: #091e42;
}

.io {
  margin-left: 300px;
}

.list{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  color: #6b778c;
}

.boo{
  list-style: none;
}

.por{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #6b778c;
}

.skill{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  display: flex;
  text-indent: 30px;
  margin-left: -30px;
  list-style: none;
  text-align: center;
}